body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.snow {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -2em;
    color: #fff;
    font-size: 1.5em;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}